.description-text{
    text-align: center;
    font-size: 2em;

    p{
        width: 75%;
        margin: auto;
        line-height: 1.2em;
    }
}

.normal-text{
    text-align: center;
    font-size: 1.2em;

    p{
    	text-align: justify;
        width: 75%;
        margin: 0 auto 1.2em;
        line-height: 1.4em;
    }
}