@font-face {
    font-family: 'bosogroup';
    src:url('../extra/fonts/bosogroup.eot?-1xj2vm');
    src:url('../extra/fonts/bosogroup.eot?#iefix-1xj2vm') format('embedded-opentype'),
        url('../extra/fonts/bosogroup.woff?-1xj2vm') format('woff'),
        url('../extra/fonts/bosogroup.ttf?-1xj2vm') format('truetype'),
        url('../extra/fonts/bosogroup.svg?-1xj2vm#bosogroup') format('svg');
    font-weight: normal;
    font-style: normal;
}