$mainGreen: #8eb335;
$mainGrey: #727057;
$subGrey: rgba($mainGrey,0.5);
$mainYellow: #e8e237;
$mainWhite: #fff;
$mainBlue: #3284ce;

$bold: 600;

$break-small: 500px;
$break-medium: 775px;
$break-large: 1200px;