{% extends 'base.html.twig' %}

{% block body %}
   <div id="container">
        <section class="gr-pic">
            <img src="images/alotofusCover.jpg" />
            <h1>Empleo ideal para talentos reales.</h1>
            
        </section>

        <section>
            <div class="yellow">
                <div class="element-1-1 description-text">
                    <div>
                        <p>Porque lo que vales no cabe en un PDF, valida tus habilidades en un proceso de selección diferente y conectate con la oferta más inteligente.</p>
                    </div>
                    
                </div>
                <div class="element-1-1 normal-text">
                    <p>Alotofus ofrece a los candidatos un dashboard personal, con posibilidad de hacer comparativas contra la media de empleabilidad de otros candidatos similares. También ofrece un buscador de ofertas y una explotación detallada semanal de las oportunidades de contratación que hayan surgido.</p>
                    <aside class="description-button">
                        <a target="_blank" href="http://alotofus.com">Regístrate</a>
                    </aside>
                </div>
                <div class="element-1-1 description-text">

                </div>
            </div>
        </section>

        <section>
            <div class="blue">
                <div class="element-1-1 description-text">
                    <p>Que te ofrece alotofus</p>
                </div>
                <div class="element-1-3">
                    <h3>Tu marca personal</h3>
                    <div>
                        <p>Regístrate y demuestra lo que vales</p>
                        <p>No solo eres lo que pone en tu Curriculum, también dispones de una seria de habilidades que no pueden ser reconocidas solo a través de un CV. </p>
                    </div>
                </div>
            
                <div class="element-1-3">
                    <h3>El talento eres tú</h3>
                    <div>
                        <p>Valida tus habilidades con un CV diferente</p>
                        <p>A través del registro de certificados, test de conocimientos, integraciones con la formación universitaria y empresarial, … podrás demostrar porque realmente eres especial y mereces el puesto que deseas</p>
                    </div>
                </div>

                <div class="element-1-3">
                    <h3>Para ti</h3>
                    <div>
                        <p>Las mejores ofertas de empleo.</p>
                        <p>Cada oferta se asociará con las habilidades y conocimientos de cada uno</p>
                    </div>
                </div>
            </div>
        </section>
   </div>
   
{% endblock %}