		<section class="green">
			<div class="element-1-1 description-text">
				<p>alotofus</p>
			</div>
		</section>

		<section class="gr-pic">
            <img src="images/alotofusCover.jpg" />
            <h1>Empleo ideal para talentos reales.</h1>
            
        </section>

        <section>
            <div class="yellow">
                <div class="element-1-1 description-text">
                    <div>
                        <p>Porque lo que vales no cabe en un PDF, valida tus habilidades en un proceso de selección diferente y conectate con la oferta más inteligente.</p>
                    </div>
                    
                </div>
                <div class="element-1-1 normal-text">
                    <p>Alotofus ofrece a los candidatos un dashboard personal, con posibilidad de hacer comparativas contra la media de empleabilidad de otros candidatos similares. También ofrece un buscador de ofertas y una explotación detallada semanal de las oportunidades de contratación que hayan surgido.</p>
                    <aside class="description-button">
                        <a target="_blank" href="http://alotofus.com">Regístrate</a>
                    </aside>
                </div>
                <div class="element-1-1 description-text">

                </div>
            </div>
        </section>