{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
        <section class="gr-pic">

            <div id="map_canvas"></div>

            <h1 id="address-right">Avenida Altos Hornos de Vizcaya, 33<br />
                48902 Barakaldo (Bizkaia), Spain<br />
                <a href="tel:+34946554603">Call +34 946 55 46 03</a><br />
                <a href="mailto:info@bosogroup.com">info@bosogroup.net</a>
            </h1>
        </section>

        <section>
            <div class="yellow">
                <div class="element-1-1 description-text">
                    <div>
                        <p>Contacta con nosotros</p>

                        <form name="contactForm" class="flexed-column" action="/contact-form.php" method="post">
                            <label for="name">Name</label>
                            <input required type="text" name="name" id="name">
                            
                            <label for="email">Email</label>
                            <input required type="email" name="email" id="email">

                            <label for="message">Message</label>
                            <textarea rows="5" required name="message"></textarea>

                            <input type="submit" class="description-button">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
   
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.9&sensor=true_or_false"></script>

    <script type="text/javascript" src="/extra/js/map.js"></script>
{% endblock %}