{% extends 'base.html.twig' %}
{% block body %}
   	<div id="container">
        
        <section class="gr-pic_inner blue">
            <img src="images/office.jpg" />

            <div>
                <div class="element-1-1 description-text">
                    <div>
                        <div>
                            <p>
                            Somos una compañía experta en el desarrollo de webs y contenidos específicos para su difusión por Internet.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="element-1-1 normal-text">
                    <p>La unión de un buen diseño con una jerarquía bien elaborada de contenidos aumenta la eficiencia de la web como canal de comunicación e intercambio de datos. También brinda posibilidades como el contacto directo entre el productor y el consumidor de contenidos.</p>
                </div>
            </div>
        </section>
        <section class="yellow">
            <div class="element-1-4">
                <h3 class="portrait-info_position">Sitios corporativos</h3>
                <div class="portrait-info">
                    <p class="portrait-info_description">Hoy en día la presencia en la web es fundamental para cualquier empresa u organización, especialmente teniendo en cuenta la masificación del acceso a internet. Pero no se trata sólo de tener un sitio web con información institucional. Ese sitio debe transmitir el espíritu de la empresa, y comunicar claramente la actividad que desempeña. En definitiva debe de tener PERSONALIDAD</p>
                </div>
            </div>
            <div class="element-1-4">
                <h3 class="portrait-info_description">Portales Web 2.0</h3>
                <div class="portrait-info">
                    <p class="portrait-info_description">En BosoGroup pensamos que el diseño centrado en la experiencia del usuario es un elemento clave.</p>

                    <p>Audio, Video, Posts, Blog, Foros, Wikis, RSS, PodCasts, son algunas de las herramientas que se utilizan para fomentar la “red social” o participación de los usuarios.</p>
                </div>
            </div>
            <div class="element-1-4">
                <h3 class="portrait-info_description">E-learning</h3>
                <div class="portrait-info">
                    <p class="portrait-info_description">El e-Learning o enseñanza a través de Internet está siendo, cada vez más, el sistema de estudio-aprendizaje preferido por los estudiantes en todo el mundo ya que permite, sin desplazamientos ni horarios marcados, obtener una formación completa.</p>
                </div>
            </div>
            <div class="element-1-4">
                <h3 class="portrait-info_description">Hot sites</h3>
                <div class="portrait-info">
                    <p class="portrait-info_description">Un hot site no es otra cosa que un pequeño sitio web, desarrollado con un objetivo muy específico que lo acota en cuanto a su alcance temático y su tiempo de uso. Es un recurso utilizado mayormente para comunicar promociones especiales ya que, al ser sitios independientes, puede tomarse más libertades en cuanto a su imagen y concepción.</p>
                </div>
            </div>
        </section>
	</div>
   
{% endblock %}

