{% extends 'base.html.twig' %}
{% block body %}
   	<div id="container">
        <section class="gr-pic_inner blue_inner">
            <img src="images/ecommerceCover_main.jpg" />

            <div>
                <div class="element-1-1 description-text">
                    <div>
                        <div>
                            <p>El comercio electrónico es un canal de ventas que las empresas deben contemplar en su estrategia comercial. BosoGroup Consulting trata de estudiar cual es la mejor forma para estar presentes en este canal.</p>

                        </div>
                    </div>
                </div>
             </div>
        </section>

        <section>
            <div class="blue">
                <div class="element-1-1 description-text">
                    <p>¿Qué hacemos?</p>
                </div>
                <div class="element-1-1 normal-text">
                    <div>
                        <div>
                            <p>La creación de una Tienda Online es un proceso apasionante, creativo y divertido. Además es muy ilusionante, vas a vender tus productos por la web a todo el Mundo.
                            </p>
                            <p>Prestamos servicios de asesoramiento especializado en comercio electrónico, a través de una asesoría personalizada e individualizada, realizada por profesionales expertos del sector y que está dirigida a impulsar el potencial de la PYME y posicionarla estratégicamente en el mercado online.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="gr-pic_inner yellow">
            <img src="images/ecommerceCover_secondary.jpg" />

            <div>
                <div class="element-1-1 description-text">
                    <div>
                        <div>
                            <p>
                            El comercio electrónico ya no es el Futuro, es el presente y esta aquí para quedarse.
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </section>
        <section class="yellow flexed">
            <div class="element-1-4 group-pic">
                <img src="images/portait-try.jpg">
                <div class="portrait-info blue">
                    <p class="portrait-info_description">Analizamos cual es la plataforma tecnológica más conveniente para vender con éxito tu producto.</p>
                </div>
            </div>
            <div class="element-1-4 group-pic">
                <img src="images/portait-try.jpg">
                <div class="portrait-info blue">
                    <p class="portrait-info_description">Te damos las claves para mejorar el diseño</p>
                </div>
            </div>
            <div class="element-1-4 group-pic">
                <img src="images/portait-try.jpg">
                <div class="portrait-info blue">
                    <p class="portrait-info_description">Realizamos un preciso estudio de tus competidores, para recabar la mayor información posible sobre el mercado y así poder tomar decisiones al respecto.</p>
                </div>
            </div>
            <div class="element-1-4 group-pic">
                <img src="images/portait-try.jpg">
                <div class="portrait-info blue">
                    <p class="portrait-info_description">te guiamos en todo momento, ¡No estás sólo!  todos juntos  formamos un mismo equipo.</p>
                </div>
            </div>
        </section>
	</div>
   
{% endblock %}

