<footer>
    <div id="copyright">
        <img src="images/logoFooter.png"/>
        <p>&#169; Bosogroup All rights reserved.</p>
    </div>
    <nav>
        <ul>
            <li><a href="{{ app.url_generator.generate('portada') }}">Home</a></li>
            <li><a href="{{ app.url_generator.generate('alotofus') }}">Alotofus</a></li>
            <li><a href="{{ app.url_generator.generate('who') }}">Quienes somos</a></li>
            <li class="last"><a href="{{ app.url_generator.generate('contact') }}">Contacto</a></li>
        </ul>
    </nav>
</footer>