{% extends 'base.html.twig' %}
{% block body %}
   	<div id="container">
        <section class="gr-pic_inner blue_inner">
            <img src="images/office.jpg" />

            <div>
                <div class="element-1-1 description-text">
                    <div>
                        <div>
                            <p>Boso group somos una empresa de consultoría de negocio que trabajamos en diversos ámbitos tales como marketing, desarrollo, diseño, recursos humanos y jurídico legal.</p>

                        </div>
                    </div>
                </div>
             </div>
        </section>

        <section>
            <div class="blue">
                <div class="element-1-1 description-text">
                    <p>Mision, Vision y Valores</p>
                </div>
                <div class="element-1-3">
                    <div>
                        <h3>Misión</h3>
                        <div>
                            <p>Nuestra misión es idear y crear estrategias y soluciones para nuestros clientes con el fin de aumentar su competitividad, productividad y desempeño en los mercados competitivos y dinámicos actuales.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="element-1-3">
                    <div>
                        <h3>Visión</h3>
                        <div>
                            <p>Compartir todo nuestro conocimiento y compromiso con nuestros clientes, abogando por el sentido de pertenencia y confianza  con los que nos relacionamos, para incrementar sus resultados.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="element-1-3">
                    <div>
                        <h3>Valores</h3>
                        <div>
                            <p>Fusce ac magna aliquet, fermentum sem id, condimentum diam. Proin et diam porta, tempor tellus id, iaculis ipsum. Phasellus laoreet nisi arcu, ut porttitor odio hendrerit id. Maecenas ac facilisis nulla. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="gr-pic_inner yellow">
            <img src="images/office.jpg" />

            <div>
                <div class="element-1-1 description-text">
                    <div>
                        <div>
                            <p>
                            Crecemos con nuestro equipo, clientes y el entorno en el que interactuamos. Creemos en lo que hacemos y como lo hacemos, intentando mejorar de forma continua los servicios, para así aumentar la satisfacción de nuestros clientes. 
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </section>
        <section class="yellow flexed">
            <div class="element-1-4 group-pic">
                <img src="images/william.jpg">
                <div class="portrait-info_before">
                    <h2 class="portrait-info_position">CEO & Co-Founder</h2>
                </div>
                <div class="portrait-info blue">
                    <p class="portrait-info_name">William Bolivar</p>
                    <p class="portrait-info_position">Chief Executive Officer & Co-Founder</p>
                    <p class="portrait-info_description">Emprendedor, Experto en negocios, marketing e innovación. </p>
                </div>
            </div>
            <div class="element-1-4 group-pic">
                <img src="images/felix.jpg">
                <div class="portrait-info_before">
                    <h2 class="portrait-info_position">CFO & Co-Founder</h2>
                </div>
                <div class="portrait-info blue">
                    <p class="portrait-info_name">Félix Sosa</p>
                    <p class="portrait-info_position">Chief Financial Officer & Co-Founder</p>
                    <p class="portrait-info_description">Especialista en negocios internacionales.</p>
                </div>
            </div>
            <div class="element-1-4 group-pic">
                <img src="images/carlos-otero.jpg">
                <div class="portrait-info_before">
                    <h2 class="portrait-info_position">CMO</h2>
                </div>
                <div class="portrait-info blue">
                    <p class="portrait-info_name">Carlos Otero</p>
                    <p class="portrait-info_position">Chief Marketing Officer</p>
                    <p class="portrait-info_description">Profesor en escuelas de negocios ICEMD, ESIC, Eseune y UNED.</p>
                </div>
            </div>
            <div class="element-1-4 group-pic">
                <img src="images/andoni.jpg">
                <div class="portrait-info_before">
                    <h2 class="portrait-info_position">Diseñador Gráfico - Front End</h2>
                </div>
                <div class="portrait-info blue">
                    <p class="portrait-info_name">Andoni Santiago</p>
                    <p class="portrait-info_position">Diseñador Gráfico - Front End</p>
                    <p class="portrait-info_description">Fusce ac magna aliquet, fermentum sem id, condimentum diam. Proin et diam porta, tempor tellus id, iaculis ipsum.</p>
                </div>
            </div>
            <div class="element-1-4 group-pic">
                <img src="images/madrigal.jpg">
                <div class="portrait-info_before">
                    <h2 class="portrait-info_position">Directora Gestión de Personas</h2>
                </div>
                <div class="portrait-info blue">
                    <p class="portrait-info_name">Madrigal Álvarez</p>
                    <p class="portrait-info_position">Directora Gestión de Personas</p>
                    <p class="portrait-info_description">Fusce ac magna aliquet, fermentum sem id, condimentum diam. Proin et diam porta, tempor tellus id, iaculis ipsum. </p>
                </div>
            </div>
            <div class="element-1-4 group-pic">
                <img src="images/gorka.jpg">
                <div class="portrait-info_before">
                    <h2 class="portrait-info_position">Desarrollador</h2>
                </div>
                <div class="portrait-info blue">
                    <p class="portrait-info_name">Gorka Laucirica</p>
                    <p class="portrait-info_position">Esclavo</p>
                    <p class="portrait-info_description">Fusce ac magna aliquet, fermentum sem id, condimentum diam. Proin et diam porta, tempor tellus id, iaculis ipsum.</p>
                </div>
            </div>
            <div class="element-1-4 group-pic">
                <img src="images/lorena.jpg">
                <div class="portrait-info_before">
                    <h2 class="portrait-info_position">Diseñadora Gráfica</h2>
                </div>
                <div class="portrait-info blue">
                    <p class="portrait-info_name">Lorena Gil</p>
                    <p class="portrait-info_position">Diseñadora Gráfica</p>
                    <p class="portrait-info_description">Fusce ac magna aliquet, fermentum sem id, condimentum diam. Proin et diam porta, tempor tellus id, iaculis ipsum.</p>
                </div>
            </div>
            <div class="element-1-4 group-pic">
                <img src="images/ruben.jpg">
                <div class="portrait-info_before">
                    <h2 class="portrait-info_position">Gestion de personas</h2>
                </div>
                <div class="portrait-info blue">
                    <p class="portrait-info_name">Ruben Garcia</p>
                    <p class="portrait-info_position">Gestion de personas</p>
                    <p class="portrait-info_description">Fusce ac magna aliquet, fermentum sem id, condimentum diam. Proin et diam porta, tempor tellus id, iaculis ipsum.
                </div>
            </div>
            <div class="element-1-4 group-pic">
                <img src="images/oier.jpg">
                <div class="portrait-info_before">
                    <h2 class="portrait-info_position">Gestion de personas</h2>
                </div>
                <div class="portrait-info blue">
                    <p class="portrait-info_name">Oier Ibarra</p>
                    <p class="portrait-info_position">Gestion de personas</p>
                    <p class="portrait-info_description">Fusce ac magna aliquet, fermentum sem id, condimentum diam. Proin et diam porta, tempor tellus id, iaculis ipsum.
                </div>
            </div>
            <div class="element-1-4 group-pic">
                <img src="images/mar.jpg">
                <div class="portrait-info_before">
                    <h2 class="portrait-info_position">Gestion de personas</h2>
                </div>
                <div class="portrait-info blue">
                    <p class="portrait-info_name">Mar Baixauli</p>
                    <p class="portrait-info_position">Gestion de personas</p>
                    <p class="portrait-info_description">Fusce ac magna aliquet, fermentum sem id, condimentum diam. Proin et diam porta, tempor tellus id, iaculis ipsum.
                </div>
            </div>
            <div class="element-1-4 group-pic">
                <img src="images/benat.jpg">
                <div class="portrait-info_before">
                    <h2 class="portrait-info_position">Gestion de personas</h2>
                </div>
                <div class="portrait-info blue">
                    <p class="portrait-info_name">Beñat Espina</p>
                    <p class="portrait-info_position">Gestion de personas</p>
                    <p class="portrait-info_description">Fusce ac magna aliquet, fermentum sem id, condimentum diam. Proin et diam porta, tempor tellus id, iaculis ipsum.
                </div>
            </div>
            <div class="element-1-4 group-pic">
                <img src="images/portait-try.jpg">
                <div class="portrait-info_before">
                    <h2 class="portrait-info_position">Gestion de personas</h2>
                </div>
                <div class="portrait-info blue">
                    <p class="portrait-info_name">Alvaro Bullé</p>
                    <p class="portrait-info_position">Gestion de personas</p>
                    <p class="portrait-info_description">Fusce ac magna aliquet, fermentum sem id, condimentum diam. Proin et diam porta, tempor tellus id, iaculis ipsum.
                </div>
            </div>
        </section>
	</div>
   
{% endblock %}

